*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

del
{
    display: block;
    color: red;
}