.container
{
    width: 100%;
    text-align: center;
}

.container > .title
{
    margin-bottom: 40px;
    font-size: 55px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: blueviolet;
    position: relative;
    display: flex;
    justify-content: center;
    height: 77px;
}

.container > .title::after
{
    content: "";
    position: absolute;
    width: 110px;
    background-color: #f906ff;
    bottom: 0px;
    margin-top: 10px;
    height: 5px;
}

.hosting-plans
{
    display: flex;
    justify-content: space-around;
}

.plan-table .title
{
    border: 1px red solid;
    padding: 2px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.plan-table .header .price
{
    border: 1px gray solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 7px auto;
}

.plan-principles
{
    border: 1px green solid
}