.container
{
    width: 100%;
    text-align: center;
    height: 80%;
}

.container > .title
{
    margin-bottom: 40px;
    font-size: 55px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: blueviolet;
    position: relative;
    display: flex;
    justify-content: center;
    height: 77px;
}

.container > .title::after
{
    content: "";
    position: absolute;
    width: 110px;
    background-color: #f906ff;
    bottom: 0px;
    margin-top: 10px;
    height: 5px;
}

.hosting-plans
{
    display: flex;
    justify-content: space-around;
    height: 70%;
}

.plan-table
{
    width: 26%;
    height: 100%;
}

.plan-table .title
{
    border: 1px #f7dada solid;
    padding: 30px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 39px;
    background-color: #974edb;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.premium-plan .title
{
    background-color: #a00bc2;
}

.gold-plan .title
{
    background-color: gold;
    background-image: linear-gradient(170deg, #a00bc2 25%, transparent);
}

.plan-table .header .price
{
    border: 1px gray solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 7px auto;
}

.plan-principles
{
    border: 1px green solid
}