.container
{
    width: 100%;
    text-align: center;
    height: 80%;
}

.hosting-plans
{
    display: flex;
    justify-content: space-around;
    height: 70%;
}

.plan-table
{
    width: 19%;
    height: 100%;
    transition-duration: 0.6s;
}

.plan-table:hover
{
    cursor: pointer;
    background-color: #f6f5ff;
    color: #00ff0a;
    transform: scale3d(1.1 ,1.1, 1.1);
}